<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated studyprogram -->
      <package
            uri="https://no/tdt4250/2019/studyprogram"
            class="studyprogram.StudyprogramPackage"
            genModel="model/studyprogram.genmodel"/>
   </extension>

</plugin>
