<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ra -->
      <package
            uri="https://ra.ecore"
            class="no.tdt4250.f2019.ra.RaPackage"
            genModel="model/ra.genmodel"/>
   </extension>

</plugin>
